*.DS_Store
*.pyc
client_secret.json
app/data/
env/
app/static/js/node_modules
app/static/js/build
app/static/js/npm-debug.log
app/static/images/avatars
app/static/images/other

skarkov_info.py
settings.py
heroku-settings.py
heroku-build.sh
heroku-push.sh
heroku-build-output/
