@import "../base.scss";

.navbar-container {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $teal;
    z-index: 1;
    a {
        text-decoration: none;
        color: $white;
    }
    .logo {
        display: inline-block;
        font-size: 43px;
        padding-top: 9px;
        padding-left: 23px;
        margin-right: 100px;
        color: $white;
    }
    .options-container {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        .option {
            display: inline-block;
            padding: 20px;
            font-size: 25px;
            cursor: pointer;
        }
        .option:hover {
           background-color: darken($teal, 10%);
        }
    }
}
