html(lang="en")
  head
    link(rel="stylesheet" type="text/css", href="/static/css/styles.css")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Roboto:400,700,300")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(type="text/javascript", src="/static/js/script.js")
    title Skarkov
  body
    block content
