html(lang="en")
  head
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Roboto:400,700,300")
    link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="/static/js/node_modules/materialize-css/dist/css/materialize.min.css", media="screen,projection")
    link(rel="stylesheet", href="/static/stylesheets/materialize_fixes.css")
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css")
    title Skarkov
    link(rel="shortcut icon", href="/static/images/favicon.ico")


  body
    #content
    script(type="text/javascript", src="{{js_filename}}")
    script(type="text/javascript", src="/static/js/node_modules/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/static/js/node_modules/materialize-css/dist/js/materialize.min.js")
