html(lang="en")
  head
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Roboto:400,700,300")
    script(type="text/javascript", src="/static/js/build/#{js_filename}")

  body
    #content
