div {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
.reference {
    margin-left: 15px;
}
.container {
    width: 80%;
    max-width: 725px;
    margin: auto;
}
.chain-info {
    display: inline-block;
    width: 75%;
}
.user {
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.name {
    margin-bottom: 10px;
    font-weight: 700;
}
.options {
    display: inline-block;
    width: 23%;
    vertical-align: top;
}
.btn {
    width: 65px;
    padding: 5px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #ddd;
}
.tweet {
    margin-top: 5px;
}
