.user {
    margin-top: 15px;
    margin-right: 15px;
}
.new-markov {
    display: inline-block;
    padding: 10px;
    margin-left: 15px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.chain {
    display: inline-block;
    margin-left: 15px;
}
