.user-container {
    margin: 10px 0;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    border: 1px solid #eee;
    border-radius: 5px;
}
.user-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.user-name {
    font-weight: bold;
}
.email-address {
    margin: 3px 0;
}
.avatar-container {
    display: inline-block;
    height: 200px;
    width: auto;
}
