@import "variables.scss";

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    header {
        z-index: 5;
    }

    main {
        flex: 1 0 auto;
        position: relative;
    }

    footer {
        margin-top: 0px;
        .import-date {
            padding-left: 8px;
        }
    }
    .page-container {
        margin: auto;
        padding-top: $container-padding-top;
        padding-bottom: $container-padding-bottom;
        max-width: 1200px;
    }
    .preloader-container {
        padding-top: 15%;
        padding-bottom: 15%;
        text-align: center;
    }

    .notfound-container {
        text-align: center;
        margin-top: 100px;
        .text {
            margin-bottom: 40px;
        }
        img {
            height: 250px;
            border-radius: 5px;
        }
    }
    .bar {
        fill: #0097a7;
    }
}

