body {
    margin: 0;
}

.preloader-container {
    margin-top: 250px;
    text-align: center;
}

.notfound-container {
    text-align: center;
    margin-top: 100px;
    .text {
        margin-bottom: 40px;
    }
    img {
        height: 250px;
        border-radius: 5px;
    }
}

$container-margin-top: 40px;

$white: white;
$teal: teal;
$light-pink: #ffcdd2;
$nav-color: #ee6e73;
