@import "variables.scss";

.app-container {
    position: relative;
    min-height: 100%;

    header {
        position: absolute;
        width: 100%;
        z-index: 5;
    }

    main {
        flex: 1 0 auto;
    }

    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        .import-date {
            padding-left: 8px;
        }
    }

    .page-container {
        margin: auto;
        padding-top: $container-padding-top;
        padding-bottom: $container-padding-bottom;
        max-width: 1200px;
    }
    .preloader-container {
        height: 80%;
        padding-top: 8%;
        text-align: center;
    }

    .notfound-container {
        text-align: center;
        margin-top: 100px;
        .text {
            margin-bottom: 40px;
        }
        img {
            height: 250px;
            border-radius: 5px;
        }
    }
}

