@import "variables.scss";

.home-container {
    background-color: $white;
    .facts-container {
        position: relative;
        padding: 3% 0;
        min-height: 200px;
        text-align: center;
        .title, .footer {
            font-size: 40px;
        }
        .title, .facts {
            margin-bottom: 60px;
        }
        .facts {
            font-size: 20px;
            .fact {
                padding: 10px 0;
            }
        }
    }
}
