body {
  font-family: helvetica, arial, sans-serif;
}

.str-count-container {
  display: inline-block;
  width: 50%;
  min-width: 525px;
  margin: auto;
}

.bar-chart-container {
  display: inline-block;
  width: 50%;
  min-width: 525px;
  text-align: center;
}

.bar-chart-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.bar-chart-subtitle {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

svg.bar-chart {
	padding: 50px;
}

#app {
  margin: 30px;
}

.bar {
  fill: steelblue;
}

.selection ul {
  margin: 0;
  padding: 0;
}

.selection ul li {
  display: inline;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}

.search-options-container {
  width: 60%;
  margin: 30px auto;
  text-align: center;
}

.search-custom {
  display: block;
}

.search-custom-label {
  display: inline-block;
  margin-right: 12px;
}

.search-custom input {
  width: 200px;
  padding: 6px;
  border-radius: 5px;
}

.search-option {
  display: inline-block;
  padding: 5px 26px;
  margin: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.btn-search {
  display: inline-block;
  margin-left: 20px;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
