@import "base.scss";

.user-container {
    margin: auto;
    margin-top: $container-margin-top;
    width: 85%;
    max-width: 1200px;
}

.user-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.user-details, .user-stats {
    padding: 20px;
    width: 97%;
    border: 1px solid #eee;
    border-radius: 5px;
}
.user-details {
    vertical-align: top;
    .user-basics {
        .avatar-container {
            display: inline-block;
            height: 200px;
            width: 200px;
            text-align: center;
            overflow: hidden;;
            img {
                height: auto;
                width: 100%;
            }
        }
        .text {
            display: inline-block;
            vertical-align: top;
            margin-left: 25px;
        }
        .name {
            margin: 0;
            margin-bottom: 20px;
        }
    }
}


.user-stats {
    .table {
        display: inline-block;
        margin-bottom: 50px;
        td {
            text-align: right;
            padding: 6px 15px;
        }
    }
    .msg-graphs {
        text-align: center
    }
    .bar-chart {
        display: inline-block;
        .messages-sent, .threads-initiated {
            margin: 0 30px;
            text-align: center;
            .yearly, .quarterly {
                display: inline-block;
            }
        }
        .messages-sent {
            margin-bottom: 33px;
        }
        .switch {
            margin-bottom: 24px;
        }
    }
    .title {
        text-align: center;
        font-size: 30px;
    }
}
