@import "base.scss";

div, p, span {
    font-family: Roboto, Arial, Verdana, Georgia, "Times New Roman"
}

.user-container {
    margin: 100px auto;
    padding: 20px;
    width: 70%;
    max-width: 1200px;
}

.user-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.user-details, .user-stats {
    padding: 20px;
    width: 97%;
    border: 1px solid #eee;
    border-radius: 5px;
}
.user-details {
    vertical-align: top;
    .user-basics {
        .avatar-container {
            display: inline-block;
            height: 200px;
            width: 200px;
            text-align: center;
            overflow: hidden;;
            img {
                height: auto;
                width: 100%;
            }
        }
        .text {
            display: inline-block;
            vertical-align: top;
            margin-left: 25px;
        }
        .name, .addresses {
            margin-bottom: 20px;
        }
    }
}


.user-stats {
    .response-percentages {
        margin-bottom: 50px;
    }
    .message-timeline {
        display: inline-block;
    }
}
