@import "variables.scss";

.user-container {
    margin: auto;
    padding-top: $container-padding-top;
    padding-bottom: $container-padding-bottom;
    max-width: 1200px;
    .responses {
        text-align: center;
    }
    .response-percentages {
        display: inline-block;
        margin: 0px 45px 15px 45px;
        text-align: center;
        vertical-align: top;
        .description {
            font-size: 16px;
            text-decoration: underline;
        }
        .table-row {
            margin-top: 6px;
        }
    }
    .user-details {
        .avatar.card-image {
            height: 232px;
        }
    }
    .user-stats {
        padding: 20px;
        width: 97%;
        border: 1px solid #eee;
        border-radius: 5px;
        .msg-graphs {
            text-align: center
        }
        .section-title {
            text-align: center;
            font-size: 30px;
        }
        .bar-chart {
            display: inline-block;
            .messages-sent, .threads-initiated {
                margin: 0 30px;
                text-align: center;
                .yearly, .quarterly {
                    display: inline-block;
                }
            }
            .messages-sent {
                margin-bottom: 33px;
            }
            .switch {
                margin-bottom: 24px;
            }
        }
        .title {
            text-align: center;
            font-size: 30px;
        }
    }
}


