.user-container {
    margin: 10px auto;
    padding: 20px;
    width: 70%;
    max-width: 1200px;
}

.user-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.avatar-container {
    display: inline-block;
    height: 200px;
    width: auto;
}

.user-details {
    padding: 20px;
    width: 97%;
    vertical-align: top;
    border: 1px solid #eee;
    border-radius: 5px;
}

.user-basics {
    .avatar-container {
        display: inline-block;
    }
    .text {
        display: inline-block;
        vertical-align: top;
        margin-left: 25px;
    }
    .name, .addresses {
        margin-bottom: 20px;
    }
}

